* {
    margin: 0;

}

body {
    margin-top: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 30px;
    font-weight: 500;
    background-color: rgb(6, 6, 155);
}

h4 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid rgb(48, 45, 255); 
    color: rgb(13, 29, 102);
    text-align: left;
    margin: 20pt;
    font-weight:bold;
}
.mainbo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: ;
    padding: 1%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    display: flex;
    height:350px;
    border: 20px;
    border-radius: 100px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.firstbox {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}
}

.secondbox {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}

}

.thridbox {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}
}

.forthbox {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}
}

.why {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}
}

.who {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}
}

.whom {
    color: antiquewhite;
    background-color: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}


.whose {
    color: antiquewhite;
    background: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
}

p {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(13, 13, 144);
    font-size: 16px;
}